{% load static %}

<head>
  <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>

<body>
  <div class="container">
    <div class="wrapper-bitcoin">
      <img class="bitcoin-icon" src="{% static "images/bitcoin.png" %}" alt="">
      <span class="bitcoin-price"></span>
    </div>
    <div class="wrapper-litecoin">
      <img class="litecoin-icon" src="{% static "images/litecoin.png" %}" alt="">
      <span class="litecoin-price"></span>
    </div>
    <div class="wrapper-button">
      <a href="#" class="action-button shadow animate blue change-coin-js">Change to litecoin</a>
    </div>
  </div>
</body>


<script type="text/javascript" src="{% static "vendors/jquery-3.2.1.js" %}"></script>
<script type="text/javascript" src="{% static "vendors/d3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>
